<div *ngFor="let result of results" class="card">
  <div class="card-header">
    Topic: {{ result.title }}
  </div>
  <div class="card-block">
    <h6 class="card-subtitle mb-2 text-muted"> By {{ result.user }} </h6>
    <hr>
    <p class="card-text"> {{ result.message }} </p>
  </div>
</div>
<br>
<br>
<h5>Conversation</h5>
<ul class="list-group">
  <li *ngFor='let reply of replies' class="list-group-item" class='reply'>
    <div class='reply-signature'>
      <img class='avatar' src='https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png'><br> {{ reply.user
      }} <br> {{ reply.dtm | date:'d.M.yyyy H:mm' }}
    </div>
    <div class='reply-body'>{{ reply.message }}</div>
  </li>
</ul>
<hr>
<br>
<!-- <form> -->
<div id='reply-container'>
  <h5 *ngIf="!loggedIn()">Sign in to leave a reply</h5>
  <div class="form-group">
    <label for="threadPost">Quick Reply:</label>
    <textarea [(ngModel)]="newReply.reply" [disabled]="loggedIn() ? null : true" type="text" class="form-control"
      id="threadPost" placeholder="Share what's on your mind"></textarea>
  </div>
  <button (click)="this.submitReply()" [disabled]="loggedIn() ? null : true" type="submit" class="btn btn-outline-danger">Reply</button>
  <span
    *ngIf="loggedIn()" id='signature'> as {{ newReply.user }} </span>
</div>
<!-- </form> -->